:root {
  --color-lead: #84BCDA;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1rem;
  max-width: 768px;

  margin-left: auto;
  margin-right: auto;
}

a {
  color: #067BC2;
  text-decoration: none;
}

header {
  border-bottom: .5rem solid var(--color-lead);
  margin-bottom: 1rem;
}

header ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

header a {
  color: #222;
}

header li {
  list-style-type: none;
}

header li:not(:first-child) {
  margin-left: .5rem;
}

header li.lead {
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}