:root {
  --color-lead: #84BCDA;
  --color-attention: #067BC2;
  --color-black: #222;
}

body {
  color: var(--color-black);
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 768px;

  margin: 0 auto;

  padding: .5rem 1rem 1rem; 
}

a {
  color: var(--color-attention);
  text-decoration: none;
}

header {
  border-bottom: .5rem solid var(--color-lead);
  margin-bottom: 1rem;
}

header ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

header a {
  color: var(--color-black);
}

header li {
  list-style-type: none;
}

header li:not(:first-child) {
  margin-left: 1em;
}

header li.lead {
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  border-top: 1px solid var(--color-lead);
  margin-top: 1rem;
}